#fixme: these are all based on ip. that hash should be configurable too?
#define some limiters



[global_ssn]
allow 200 ssn per 1s

[global_txn]
allow 100 txn per 1000ms queue 10s

[global_downstream]
allow 1000k downstream per 1s

[wmv_downstream]
allow 200k downstream per 1s

[slow_page]
allow 1 txn per 1s

#match limiters
* => [global_txn, global_ssn, global_downstream]

pristine-url: */slow_page => slow_page
pristine-url: *.wmv => wmv_downstream
